h1 {
    display: none;
}
.wrap{
    width: 1000px; margin:0 auto;    
}
header {
    display: flex;  /* flex는 좌우배치 */
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo{
    font-size: 1.750rem;
}
.menu{
    font-size: 1.250rem;
}
.menu a {
    color: gold;
    text-decoration: none;
    margin: 0 0 0 px;
}

@media screen and (max-width: 480px){
    .wrap{
        width: 100%;
    }
    header {
        flex-direction: column;  /* 플렉스-방향:컬럼*/
        height: auto;
    }
    .logo{
        font-size: 2rem;   /*글자크기*/
        padding: 1rem 0;  /*상하에는 기본값 1배 크기 안쪽 여백*/
        text-transform: uppercase; /* 영어 대문자로 바꾸기 */
    }
    .menu{
        background-color: pink;
        width: 100%;
        padding: 1rem 0;
        font-size: 1.250rem;
        display: flex;
        justify-content: center;
    }
    .menu a{
        color: white;
        text-transform: uppercase;
        margin: 0 1rem;
    }
    .profile{
        margin: 1.5rem 0;
        width: 80%;
        margin: 2rem auto;
    }
    .profile img{
        max-width: 100%;
    }
    .contents p{
        font-size: 1.625rem;
        margin: 0 0 0 20%;
    }   

    .keywords1{
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;
        column-gap: 2rem;
    }
    .keywords2{
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;
        column-gap: 2rem;
    }
    .keywords span {
        padding: 10px 15px;
        color: black;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgb(63, 63, 63);
        text-shadow: 0 0 3px black;


    }


    .uxui {
        background-color: #D37AFD;
    }
    .web {
        background-color: #7D9AFF;
    }
    .app {
        background-color: #72F3BD;
    }
    .front-end {
        background-color: #CDFF8C;
    }
    .full-stack {
        background-color: #F25D5D;
    }
    .back-end {
        background-color: #CDFF8C;
    }
    .buttons{
        text-align: center;
        margin: 0 0 auto;
    }
    .location {
        display: flex;
        justify-content: flex-end;
        background: #191919;
        padding-right: 5%;
        color: white;
    }

    .location a {
        color:  white;
        text-decoration: none;    /*밑줄 없앰  */

    }
    .contents ul {
        list-style: disc;
        list-style-position: inside;
    }

    .inner{
        margin: 2% 5%;
    }
    .inner iframe {
        max-width: 100%;
    }
}