@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@font-face {
	font-family: "longline","Noto Sans","맑은 고딕",sans-serif;
	src: url("https://assets.codepen.io/756881/Longline+Quart+FREE.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}
a:visited,a:link{
	text-decoration: none;
	color: inherit;
}
/* Work폴더 유트브동영상 관련 */
* { 
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


#vidtop-content {
top: 0;
color: #fff;
}

.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }

.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }

.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}

@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

html{
    scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	height: 600vh;
	width: 100vw;
	font-family: "Noto Sans", sans-serif;
	background-color: #ECB682;
	color: white;
	/* overflow-y: hidden */
	-ms-overflow-style: none;
}

/* 스크롤바 없애기 기능살리기위해-ms-overflow-style: none; 도 같이 써야함 */
::-webkit-scrollbar {
	display: none;
}


h1 {
	font-family: "longline";
	transition-duration: 0.4s;
}
#vSlide{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#video{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#cover{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.slider-section {
	height: 22vh;
	bottom: 0;
	position: fixed;
	width: 100%;
}

h1 {
	font-size: 10vw;
}

.wheel {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300vw;
	height: 300vw;
	max-width: 2000px;
	max-height: 2000px;
	left: 50%;
	transform: translateX(-50%);
}

.wheel__card {
	position: absolute;
	top: 0;
	left: 0;
	width: 6%;
	max-width: 200px;
	aspect-ratio: 1 / 1;
	cursor: pointer;
}

.wheel img {
	width: 100%;
	pointer-events: none;
	z-index: 999;
	cursor: pointer;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.header img {
	width: 40vw;
	height: 40vw;
	max-height: 350px;
	max-width: 350px;
}

/* SCROLL DOWN */
.scroll-down {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	color: white;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	overflow: visible;
}

.scroll-down .arrow {
	position: relative;
	top: 0px;
	margin: 0 auto;
	width: 15px;
	height: 15px;
	filter: invert(1);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
	background-size: contain;
}
/* animate 영역 끝 */
/* fullpage 영역 */
.section2{
	background-color: red;
}



/* index 부분 */




















/* 선 테두리 애니메이션 */
figure{
	position:relative;
	width:181px;
	height:30px;
	left:50%;
	margin-left:-150px;
	/* background:#333; */
  }
  
  figure:hover figcaption{ opacity: 1; }
  figure:hover .line::before { width: 80%; }
  figure:hover .line::after { width: 80%; }
  figure:hover .line span::before { height: 80%; }
  figure:hover .line span::after { height: 80.5%; }
  
  
  figcaption{
	position:relative;
	width:181px;
	height:30px;
	background:rgba(0,0,0,0.7);
	opacity:0;
	transition: all 0.5s;
  }
  
  a figcaption p{
	color:#fff; font-weight:bold; font-size:20px; 
	text-align:center; line-height:30;
  }
  
  .line::before {
	  content: "";
	  position: absolute;
	  background: rgba(255, 255, 255, 0.7);
	  display: inline-block;
	  transition: all 0.5s;
	  left: 10%;
	  top: 10%;
	  width: 0%;
	  height: 2px; 
  }
  
  .line::after {
	content: "";
	position: absolute;
	background: rgba(230, 230, 230, 0.7);
	display: inline-block;
	transition: all 0.5s;
	left: 10%;
	top: 90%;
	width: 0%;
	height: 2px; }
  
  .line span::before {
	content: "";
	position: absolute;
	background: rgba(230, 230, 230, 0.7);
	display: inline-block;
	transition: all 0.5s;
	left: 10%;
	top: 10%;
	width: 2px;
	height: 0%; }
  
  .line span::after {
	content: "";
	position: absolute;
	background: rgba(230, 230, 230, 0.7);
	display: inline-block;
	transition: all 0.5s;
	left: 90%;
	top: 10%;
	width: 2px;
	height: 0%; }