/* work 부문 */

::-webkit-scrollbar {
	display: block;
	width: 15px; 
	height: 20px;  
}
::-webkit-scrollbar-thumb {
		  background-color: white; 
	  border-radius:30px;
	}


article>section{
	height: 100vw;
}

article>section:first-child{
	background-color: red;
}
article>section:nth-child(2){
	background-color: yellow;
}
article>section:nth-child(3){
	background-color: blue;
}
article>section:nth-child(4){
	background-color: green;
}
article>section:nth-child(5){
	background-color: cadetblue;
}